.header{
    position: relative;
    // background: url('../img/Header_Img.png');
    background-size: cover;
    height: 100vh;
    min-height: 450px;
    overflow: auto;

    display: flex;
    align-items: flex-end;
    &-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title{
        font-size: 62px;
        font-weight: 300;
        color: #ffffff;
        span{
            font-weight: 700;
        }
        padding-bottom: 22px;
    }
    &__subtitle{
        font-size: 48px;
        font-weight: 300;
        opacity: 0.9;
        color: #ffffff;
        span{
            color: #0feb9e;
        }
        padding-bottom: 22px;
    }
    &__text{
        font-size: 18px;
        font-weight: 300;
        opacity: 0.9;
        color: #ffffff;
        position: relative;
    }
    &__text:before{
        content: '';
        position: absolute;
        top: 50%;
        left: -61px;
        width: 28px;
        height: 1px;
        background-color: #0feb9e;
    }
    &__text:after{
        content: '';
        position: absolute;
        top: 50%;
        right: -61px;
        width: 28px;
        height: 1px;
        background-color: #0feb9e;
    }
}

.wrapper-social{
    display: flex;
    padding: 100px 0 50px;
}
.icons__item{

  display: flex;
  align-items: center;
  justify-content: center;
}
.icons__item:not(:last-child){
  margin-right: 10px;
}
.icon-all{
  width: 20px;
  height: 20px;
  fill: #fff;
  opacity: 0.3;
  transition: 0.4s;
}
.icon-all:hover{
    opacity: 1;
}
.menu-top{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: rgba(16, 22, 54, 0.2);
    padding: 20px 0;
    z-index: 3;
    transition: 0.5s;
}
.top-subtext{
    font-size: 16px;
    color: #ffffff;
    letter-spacing: 0.8px;
    font-weight: 300;
    opacity: 0.3;

    display: flex;
    align-items: center;
    padding-left: 25px;
    margin-left: 25px;
    position: relative;
}
.top-subtext:before{
    content: '';
    position: absolute;
    top: 7px;
    left: 0;
    height: 17px;
    width: 1px;
    background: #32b0ee;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    transition: 0.4s;
}
.header-top__left{
    display: flex;
}
.menu-top.active {
    padding: 10px 0;
}
.wrapper-logo{
    max-width: 90px;
    display: flex;
    align-items: center;
}
.wrapper-logo img{
    width: 100%;
}

a.header__link{
    font-size: 13px;
    letter-spacing: 0.65px;
    color: #fff;
    transition: 0.4s;
    position: relative;
}
a.header__link.active:before{
    content: '';
    position: absolute;
    top: -10px;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #32b0ee;
}
// a.header__link:hover{
    
// }
.header__burger{
	display: none;
}
.header-top__right{
    display: flex;
    align-items: center;
    padding-left: 20px;
}
.header__list{
    display: flex;
    flex-wrap: wrap;
}
.header__list li{
    padding: 5px 10px 5px 10px;
}
.slider-header{
    position: relative;
}
.slider-header .dots{
    display: flex;
    
}
.slider-header .slick-dots{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    right: 48px;
}
.slider-header .slick-list{
    padding-bottom: 0px;
}
.slider-header .slick-dots li{
    list-style: none;
    margin: 0px 10px;
}
.slider-header .slick-dots button{
    font-size: 0;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: transparent;
    opacity: 0.2;
    border: 1px solid #ffffff;
}
.slider-header .slick-dots li.slick-active button{
    background-color: #ffffff;
    opacity: 1;
}